main {
  --color-prettylights-syntax-comment: #838ba7;
  --color-prettylights-syntax-constant: #8caaee;
  --color-prettylights-syntax-entity: #8caaee;
  --color-prettylights-syntax-storage-modifier-import: #ef9f76;
  --color-prettylights-syntax-entity-tag: #81c8be;
  --color-prettylights-syntax-keyword: #f4b8e4;
  --color-prettylights-syntax-string: #a6d189;
  --color-prettylights-syntax-variable: #ef9f76;
  --color-prettylights-syntax-invalid-illegal-text: #e78284;
  --color-prettylights-syntax-invalid-illegal-bg: rgb(231 130 132 / 15%);
  --color-prettylights-syntax-markup-heading: #81c8be;
  --color-prettylights-syntax-markup-italic: #e5c890;
  --color-prettylights-syntax-markup-bold: #e5c890;
  --color-prettylights-syntax-markup-deleted-text: #c6d0f5;
  --color-prettylights-syntax-markup-deleted-bg: rgb(231 130 132 / 40%);
  --color-prettylights-syntax-markup-inserted-text: #c6d0f5;
  --color-prettylights-syntax-markup-inserted-bg: rgb(166 209 137 / 40%);
  --color-prettylights-syntax-markup-changed-text: #c6d0f5;
  --color-prettylights-syntax-markup-changed-bg: rgb(229 200 144 / 40%);
  --color-prettylights-syntax-markup-ignored-text: #c6d0f5;
  --color-btn-text: #c6d0f5;
  --color-btn-bg: #414559;
  --color-btn-border: #51576d;
  --color-btn-hover-bg: #51576d;
  --color-btn-hover-border: #626880;
  --color-btn-active-bg: #626880;
  --color-btn-selected-bg: #626880;
  --color-btn-counter-bg: #626880;
  --color-btn-outline-text: #ca9ee6;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-primary-text: #303446;
  --color-btn-primary-bg: #a6d189;
  --color-btn-primary-border: transparent;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #c2dfae;
  --color-btn-primary-hover-border: #c2dfae;
  --color-btn-primary-selected-bg: #c2dfae;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: #232634;
  --color-btn-primary-disabled-bg: rgb(166 209 137 / 40%);
  --color-btn-primary-disabled-border: transparent;
  --color-action-list-item-default-hover-bg: #51576d;
  --color-segmented-control-bg: #626880;
  --color-segmented-control-button-bg: #303446;
  --color-segmented-control-button-selected-border: #737994;
  --color-fg-default: #c6d0f5;
  --color-fg-muted: #b5bfe2;
  --color-fg-subtle: #b5bfe2;
  --color-canvas-default: #303446;
  --color-canvas-overlay: #414559;
  --color-canvas-inset: #232634;
  --color-canvas-subtle: #292c3c;
  --color-border-default: #51576d;
  --color-border-muted: #414559;
  --color-neutral-muted: rgb(115 121 148 / 20%);
  --color-accent-fg: #ca9ee6;
  --color-accent-emphasis: #ca9ee6;
  --color-accent-muted: rgb(202 158 230 / 40%);
  --color-accent-subtle: rgb(202 158 230 / 15%);
  --color-success-fg: #a6d189;
  --color-attention-fg: #ef9f76;
  --color-attention-muted: #ca9ee6;
  --color-attention-subtle: rgb(202 158 230 / 15%);
  --color-danger-fg: #e78284;
  --color-danger-muted: rgb(231 130 132 / 40%);
  --color-danger-subtle: rgb(231 130 132 / 20%);
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #51576d;
  --color-scale-blue-8: #6089e7;
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .gsc-comment-box-textarea::placeholder {
  color: #a5adce;
}

main .gsc-loading-image {
  background-image: url("https://giscus.catppuccin.com/assets/loading.gif");
}
