:host, html {
  --font-family-serif: ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-family-default: var(--font-family-serif);
}

main {
  --color-prettylights-syntax-comment: #66707b;
  --color-prettylights-syntax-constant: #023b95;
  --color-prettylights-syntax-entity: #622cbc;
  --color-prettylights-syntax-storage-modifier-import: #0e1116;
  --color-prettylights-syntax-entity-tag: #024c1a;
  --color-prettylights-syntax-keyword: #a0111f;
  --color-prettylights-syntax-string: #032563;
  --color-prettylights-syntax-variable: #702c00;
  --color-prettylights-syntax-brackethighlighter-unmatched: #6e011a;
  --color-prettylights-syntax-invalid-illegal-text: #fff;
  --color-prettylights-syntax-invalid-illegal-bg: #6e011a;
  --color-prettylights-syntax-carriage-return-text: #fff;
  --color-prettylights-syntax-carriage-return-bg: #a0111f;
  --color-prettylights-syntax-string-regexp: #024c1a;
  --color-prettylights-syntax-markup-list: #2e1800;
  --color-prettylights-syntax-markup-heading: #023b95;
  --color-prettylights-syntax-markup-italic: #0e1116;
  --color-prettylights-syntax-markup-bold: #0e1116;
  --color-prettylights-syntax-markup-deleted-text: #6e011a;
  --color-prettylights-syntax-markup-deleted-bg: #fff0ee;
  --color-prettylights-syntax-markup-inserted-text: #024c1a;
  --color-prettylights-syntax-markup-inserted-bg: #d2fedb;
  --color-prettylights-syntax-markup-changed-text: #702c00;
  --color-prettylights-syntax-markup-changed-bg: #ffc67b;
  --color-prettylights-syntax-markup-ignored-text: #e7ecf0;
  --color-prettylights-syntax-markup-ignored-bg: #023b95;
  --color-prettylights-syntax-meta-diff-range: #622cbc;
  --color-prettylights-syntax-brackethighlighter-angle: #4b535d;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #88929d;
  --color-prettylights-syntax-constant-other-reference-link: #032563;
  --text-muted-color: rgb(82 82 82);
  --text-normal-color: rgb(10 10 10);
  --color-segmented-control-bg: transparent;
}

@media (prefers-color-scheme: dark) {
  main {
    --color-prettylights-syntax-comment: #bdc4cc;
    --color-prettylights-syntax-constant: #91cbff;
    --color-prettylights-syntax-entity: #dbb7ff;
    --color-prettylights-syntax-storage-modifier-import: #f0f3f6;
    --color-prettylights-syntax-entity-tag: #72f088;
    --color-prettylights-syntax-keyword: #ff9492;
    --color-prettylights-syntax-string: #addcff;
    --color-prettylights-syntax-variable: #ffb757;
    --color-prettylights-syntax-brackethighlighter-unmatched: #ff6a69;
    --color-prettylights-syntax-invalid-illegal-text: #fff;
    --color-prettylights-syntax-invalid-illegal-bg: #e82a2f;
    --color-prettylights-syntax-carriage-return-text: #fff;
    --color-prettylights-syntax-carriage-return-bg: #ff4445;
    --color-prettylights-syntax-string-regexp: #72f088;
    --color-prettylights-syntax-markup-list: #fbd669;
    --color-prettylights-syntax-markup-heading: #409eff;
    --color-prettylights-syntax-markup-italic: #f0f3f6;
    --color-prettylights-syntax-markup-bold: #f0f3f6;
    --color-prettylights-syntax-markup-deleted-text: #ffdedb;
    --color-prettylights-syntax-markup-deleted-bg: #cc1421;
    --color-prettylights-syntax-markup-inserted-text: #acf7b6;
    --color-prettylights-syntax-markup-inserted-bg: #007728;
    --color-prettylights-syntax-markup-changed-text: #ffe1b4;
    --color-prettylights-syntax-markup-changed-bg: #a74c00;
    --color-prettylights-syntax-markup-ignored-text: #f0f3f6;
    --color-prettylights-syntax-markup-ignored-bg: #318bf8;
    --color-prettylights-syntax-meta-diff-range: #dbb7ff;
    --color-prettylights-syntax-brackethighlighter-angle: #bdc4cc;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #7a828e;
    --color-prettylights-syntax-constant-other-reference-link: #addcff;
    --text-muted-color: rgb(163 163 163);
    --text-normal-color: rgb(250 250 250);
    --color-segmented-control-bg: transparent;
  }
}

.gsc-comments .gsc-header .gsc-left-header em a {
  color: var(--text-muted-color);
  text-underline-offset: 4px;
  transition: all 0.2s;
}

.gsc-comments .gsc-header .gsc-left-header em a:hover {
  color: var(--text-normal-color);
}

.gsc-right-header {
  border-radius: none;
}

.gsc-right-header li:not(.BtnGroup-item--selected) {
  border-top: none;
  border-left: none;
  border-right: none;
}

.gsc-right-header li:not(.BtnGroup-item--selected) .btn:hover {
  background-color: transparent;
  color: var(--text-normal-color);
}

.gsc-comment-box-tabs {
  display: none;
}

.gsc-comment-box {
  border: none;
  background-color: transparent;
}

.gsc-comment-box-main .gsc-comment-box-write textarea.gsc-comment-box-textarea {
  border-radius: 0;
  border-bottom-style: solid;
}

.gsc-comment-box-buttons button {
  border-radius: 0;
}

.gsc-comment-box-bottom button:hover {
  color: var(--text-normal-color);
}

.gsc-comment-box-buttons .btn-primary {
  color: var(--text-normal-color);
}

.gsc-comment-box-buttons .btn-primary:disabled {
  color: var(--text-muted-color);
}
