@import 'github-syntax-light/lib/github-light.css';

a {
  @apply no-underline;
}

a:hover {
  @apply text-blue-700 underline;
}

.markdown {
  @apply break-words;
}

.markdown a {
  @apply text-blue-700;
}

.markdown strong {
  @apply font-semibold;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply mt-6 mb-4 font-semibold;
}

.markdown h1,
.markdown h2 {
  @apply pb-2 border-b;
}

.markdown h1 {
  @apply text-3xl;
}

.markdown h2 {
  @apply text-2xl;
}

.markdown h3 {
  @apply text-xl;
}

.markdown h4 {
  @apply text-base;
}

.markdown h5 {
  @apply text-sm;
}

.markdown h6 {
  @apply text-xs text-gray-500;
}

.markdown pre {
  line-height: 1.45;
  @apply p-4 overflow-auto rounded-md;
}

.markdown pre,
.markdown code {
  @apply text-xs;
}

.markdown pre,
.markdown p code {
  @apply bg-gray-500 bg-opacity-5;
}

.markdown p code {
  @apply px-1 py-[2px] rounded-md;
}

.markdown table th,
.markdown table td {
  @apply px-3 py-[6px] border;
}

.markdown table th {
  @apply font-semibold;
}

.markdown table tr:nth-child(2n) {
  @apply bg-gray-500 bg-opacity-5;
}

.markdown blockquote {
  @apply px-4 border-l-[3px] text-gray-500;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  @apply mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p {
  @apply mt-4;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  @apply my-0;
}

.markdown ul,
.markdown ol {
  @apply pl-[2em];
}

.markdown ul {
  @apply list-disc;
}

.markdown ul ul {
  list-style-type: circle;
}

.markdown ul ul ul {
  list-style-type: square;
}

.task-list-item {
  @apply list-none;
}

.task-list-item-checkbox {
  @apply align-middle;
  margin: 0 0.2em 0.25em -1.6em;
}

.markdown ol {
  @apply list-decimal;
}

.markdown kbd {
  @apply px-[5px] py-[3px] text-[11px] align-middle border rounded-md shadow bg-gray-400 bg-opacity-5 text-gray-700;
}

.markdown hr {
  @apply h-[.25em] my-6 bg-gray-400 bg-opacity-20;
}

.markdown > :last-child {
  @apply mb-0;
}

.markdown > :first-child {
  @apply mt-0;
}

/* GitHub Primer stuff */

.markdown .rounded-1 {
  @apply rounded-md;
}

.markdown .border-bottom {
  @apply border-b;
}

.markdown .color-bg-secondary {
  @apply bg-gray-400 bg-opacity-5;
}

.markdown .lh-condensed {
  line-height: 1.25;
}

.markdown .f6 {
  @apply text-xs;
}

.markdown .text-bold {
  @apply font-semibold;
}

.markdown .color-text-tertiary {
  @apply text-gray-500;
}

.markdown .commit-tease-sha {
  @apply font-mono text-gray-600;
  font-size: 90%;
}

.markdown .mb-0 {
  @apply mb-0;
}

.markdown .py-0 {
  @apply py-0;
}

.markdown .border-0 {
  @apply border-none;
}

.markdown .blob-wrapper {
  @apply overflow-x-auto overflow-y-hidden;
}

.markdown .blob-wrapper-embedded {
  @apply max-h-[240px] overflow-y-auto;
}

.markdown .blob-num {
  @apply w-[1%] min-w-[50px] px-[10px] font-mono text-xs leading-5 text-gray-400 text-right whitespace-nowrap align-top cursor-pointer select-none;
}

.markdown .blob-num:before {
  content: attr(data-line-number);
}

.markdown .blob-code-inner {
  @apply overflow-visible font-mono text-xs whitespace-pre;
  word-wrap: normal;
}

.markdown .blob-wrapper table tr:nth-child(2n) {
  background-color: initial;
}

.markdown .email-hidden-toggle a {
  @apply inline-block h-3 px-2 text-xs font-semibold leading-[6px] no-underline align-middle bg-gray-400 bg-opacity-20 border;
}

.markdown .email-quoted-reply,
.markdown .email-signature-reply {
  @apply px-4 my-4 text-gray-500 border-l-4;
}

.markdown .email-hidden-reply {
  @apply whitespace-pre-wrap hidden;
}

.markdown .email-hidden-reply.expanded {
  @apply block;
}
